<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" type="text/css" href="/css/user.css">
	<script type="text/javascript" src="https://code.jquery.com/jquery-2.2.0.min.js"></script>
	<script type="text/javascript"src="/js/user.js"></script>
	<link href='https://fonts.googleapis.com/css?family=Raleway' rel='stylesheet' type='text/css'>
	<title>champ chart</title>
</head>
<body>
	<header>
		<h2><%=user.username%>champ chart</h2>
	</header>
	<section id="message-board">you're a champ! add stickers to your champ chart!	</section>
	<div id="dataset-select-container">
		<p id="user-name">Users</p>
		<select id="dataset-select">
			<option value=""/>-------</option>
			<% for (var i=0; i < user.length; i ++) { %>
				<option value="<%=user[i].id %>"><%= user[i].username %></option>
			<% } %>
		</select>					
	</div>
	<div id="chart">
		<section class="square"></section>
		<section class="square"></section>
		<section class="square"></section>
		<section class="square"></section>
		<section class="square"></section>
		<section class="square"></section>
		<section class="square"></section>
		<section class="square"></section>
		<section class="square"></section>
		<section class="square"></section>
		<section class="square"></section>
		<section class="square"></section>
		<section class="square"></section>
		<section class="square"></section>
		<section class="square"></section>
	</div>
	<div id="sticker-container">
		<h4><%=user.username%> click to add sticker to your chart</h4>
			<ul>
				<% for (var i = 0; i < user.accomp.length; i++) { %>
				<li><%=user.accomp[i].name%>
					<br/>
					<%=user.accomp[i].img%>
					<br/>
					<%=user.accomp[i].descr%>
				</li>
				<% } %>
			</ul>
	</div>
	<div id="delete-container">
		<form action="/user/<%=user.id%>" method="POST">
			<input type="hidden" name="_method" value="DELETE/">
		<button>delete me and my champ chart</button> 
	</form>
	</div>
	<footer>
		<ul>
			<li><a href="/user">login</a></li>			
			<li><a href="/user/index.ejs">champs</a></li>
			<li><a href="/accomp/index.ejs">stickers</a></li>
			<a href="/user/logout" class="btn btn-default btn-sm">Logout</a>
		</ul>
	</footer>
</body>
</html>